---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=What%20is%20the%20capital%20of%20Arizona?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Search-Id:
      - 8hhq9ds8yem38sfn4w3zkv03o
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 184.170.190.74
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":5063},"search":[{"ns":0,"title":"Arizona","pageid":21883824,"size":159836,"wordcount":13485,"snippet":"States.
        It <span class=\"searchmatch\">is</span> <span class=\"searchmatch\">the</span>
        6th-largest and <span class=\"searchmatch\">the</span> 14th-most-populous
        <span class=\"searchmatch\">of</span> <span class=\"searchmatch\">the</span>
        50 states. Its <span class=\"searchmatch\">capital</span> and largest city
        <span class=\"searchmatch\">is</span> Phoenix. <span class=\"searchmatch\">Arizona</span>
        <span class=\"searchmatch\">is</span> part <span class=\"searchmatch\">of</span>
        <span class=\"searchmatch\">the</span> Four Corners","timestamp":"2023-04-03T18:53:11Z"},{"ns":0,"title":"Phoenix,
        Arizona","pageid":49121,"size":211772,"wordcount":19609,"snippet":"Bany\u00e0:nyuw\u00e1)
        <span class=\"searchmatch\">is</span> <span class=\"searchmatch\">the</span>
        <span class=\"searchmatch\">capital</span> and most populous city <span class=\"searchmatch\">of</span>
        <span class=\"searchmatch\">the</span> U.S. state <span class=\"searchmatch\">of</span>
        <span class=\"searchmatch\">Arizona</span>, with 1,[...]
