---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=what%20is%20the%20average%20temperature%20in%20Austin%20TX?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Search-Id:
      - 6esv3b40iv9yy7838tv0wihy8
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 184.170.190.74
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":150},"search":[{"ns":0,"title":"Austin,
        Texas","pageid":1998,"size":222005,"wordcount":20690,"snippet":"<span class=\"searchmatch\">Austin</span>
        <span class=\"searchmatch\">is</span> <span class=\"searchmatch\">the</span>
        capital city of <span class=\"searchmatch\">the</span> U.S. state of Texas,
        as well as <span class=\"searchmatch\">the</span> seat and largest city of
        Travis County, with portions extending into Hays and Williamson","timestamp":"2023-03-27T23:15:51Z"},{"ns":0,"title":"Greater
        Austin","pageid":11288301,"size":75373,"wordcount":5918,"snippet":"<span class=\"searchmatch\">The</span>
        <span class=\"searchmatch\">Austin</span>\u2013Round\u00a0Rock\u2013San Marcos
        metropolitan statistical area (or Greater <span class=\"searchmatch\">Austin</span>)
        <span class=\"searchmatch\">is</span> a five-county metropolitan area <span
        class=\"searchmatch\">in</span> <span class=\"searchmatch\">the</[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&list=search&srsearch=What%20county%20is%20Austin%20in?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Search-Id:
      - 3ycaky7tir4zaqkdc178xlvx4
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 184.170.190.74
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":11213,"suggestion":"what
        country is austin in ","suggestionsnippet":"what <em>country</em> is austin
        in "},"search":[{"ns":0,"title":"Austin, Texas","pageid":1998,"size":222005,"wordcount":20690,"snippet":"<span
        class=\"searchmatch\">Austin</span> <span class=\"searchmatch\">is</span>
        the capital city of the U.S. state of Texas, as well as the seat and largest
        city of Travis <span class=\"searchmatch\">County</span>, with portions extending
        into Hays and Williamson","timestamp":"2023-03-27T23:15:51Z"},{"ns":0,"title":"Stone
        [...]
